name: Update Airport Data

on:
  schedule:
    - cron: '0,15,30,45 22-23 * * *' # 对应北京时间 6:00 到 7:45
    - cron: '0,15,30,45 0-15 * * *'  # 对应北京时间 8:00 到 23:45
  workflow_dispatch: # 添加这一行来启用手动触发

jobs:
  update_data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run main.py script
        run: python main.py

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update airport.txt"
          branch: main # 替换为你的主分支名称